<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:replace="common/header :: navbar" />
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        		<ul class="nav">
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/home}"><i class="ti-dashboard menu-icon"></i>
            		 	 <span class="menu-title">Main</span></a>
          			 </li>
          			 
         			 <li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">Manage Agents</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic2">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"> <a class="nav-link" th:href="@{/agentList}">All Lists</a></li>
			                <li class="nav-item"> <a class="nav-link" th:href="@{/add}">Add Agent</a></li>
			              </ul>
			            </div>
			          </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/basicTable}">
             				 <i class="ti-user menu-icon"></i>
             				 <span class="menu-title">Manage Users</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/manageBooking}">
             				 <i class="ti-clipboard menu-icon"></i>
             				 <span class="menu-title">Rentee Booking Lists</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/listOfRawHouse}">
             				 <i class="ti-folder menu-icon"></i>
             				 <span class="menu-title">House For Rent Forms</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
			            <a class="nav-link" th:href="@{/rentHouse}">
			              <i class="ti-home menu-icon"></i>
			              <span class="menu-title">Rent House Lists</span>
			            </a>
			          </li>
			        <li class="nav-item">
			            <a class="nav-link" th:href="@{/contract}">
			              <i class="ti-write menu-icon"></i>
			              <span class="menu-title">Manage Rentee Contract</span>
			            </a>
          			</li>
          			<li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">House Townships</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"> <a class="nav-link" th:href="@{/townshipTable}">All Lists</a></li>
			                <li class="nav-item"> <a class="nav-link" th:href="@{/addTownship}">Add Township</a></li>
			              </ul>
			            </div>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">House Types</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic1">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"><a class="nav-link" th:href="@{/typeTable}">All Lists</a></li>
			                <li class="nav-item"><a class="nav-link" th:href="@{/addType}">Add Type</a></li>
			              </ul>
			            </div>
			          </li>
        		</ul>
      		</nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Agent Table</h4>
                  <p class="card-description">
                    Available Agents 
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped" id="agentListTable">
                      <thead>
                        <tr>
                          <th><input th:id="selectAllAgents" type="checkbox" /></th>
                          <th>Profile</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email</th>
                          <th>Phone Number </th>
                          <th>Address</th>
                          <th>Township</th>
                          <th>Active</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-th-each="agent : ${agentList}">
                       	
                       		
                       		<td>
                       			<input hidden="hidden" name="id" th:value="${agent.id}" />
                       			<input th:id="'selected'+${agent.id}" class="checkboxAgent" type="checkbox" />
                       		</td>
                       		
                       		<td><a th:href="@{agentDetails(id=${agent.id})}"><img th:src="@{/images/agent/}+${agent.id}+'.png'" /></a></td>
                       		<td th:text="${agent.agentFName}"></td>
                       		<td th:text="${agent.agentLName}"></td>
                       		<td th:text="${agent.agentEmail}"></td>
                       		<td th:text="${agent.agentPh}"></td>
                       		<td th:text="${agent.agentAddress}"></td>
                       		<td th:text="${agent.agentTownship}"></td>
                       		<td th:text="${agent.active}"></td>
                       		<td> 
                       		
                       		<a th:href="@{/agentUpdate?id=}+${agent.id}"><button type="button" class="btn btn-dark btn-icon-text">
                          Edit
                          <i class="ti-file btn-icon-append"></i>                          
                        </button> </a>
                        <input hidden="hidden" name="id" th:value="${agent.id}" /> 
                         <button type="submit" value="delete" th:id="'oneAgent-'+${agent.id}" class="btn btn-dark btn-icon-text delete-agent" style="border-color: #ff4747; background-color: #ff4747 ;">
                          Delete
                        <i class="ti-trash"></i> </button>
                        </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                   <button th:id="deleteSelected" class="btn btn-dark btn-icon-text">Delete Selected</button>
                </div>
              </div>
            </div>
            
           
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
       <div th:replace="common/header :: footer"></div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/todolist.js"></script>
  
  <!-- data table -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>	
<script th:src="@{/js/bootbox.min.js}"></script>
<script th:src="@{/js/dataTables.jqueryui.min.js}"></script>

  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
 <script>
		$(document).ready(function() {
			$("#agentListTable").DataTable({
				"ordering": false,
				stateSave: true
				
			});
		});
 </script>
  
</body>

</html>
