<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
	<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="common/header :: navbar" />
    	<div class="container-fluid page-body-wrapper">
    		<nav class="sidebar sidebar-offcanvas" id="sidebar">
        		<ul class="nav">
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/home}"><i class="ti-dashboard menu-icon"></i>
            		 	 <span class="menu-title">Main</span></a>
          			 </li>
          			 
         			 <li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">Manage Agents</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic2">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"> <a class="nav-link" th:href="@{/agentList}">All Lists</a></li>
			                <li class="nav-item"> <a class="nav-link" th:href="@{/add}">Add Agent</a></li>
			              </ul>
			            </div>
			          </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/basicTable}">
             				 <i class="ti-user menu-icon"></i>
             				 <span class="menu-title">Manage Users</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/manageBooking}">
             				 <i class="ti-clipboard menu-icon"></i>
             				 <span class="menu-title">Rentee Booking Lists</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
           				 <a class="nav-link" th:href="@{/listOfRawHouse}">
             				 <i class="ti-folder menu-icon"></i>
             				 <span class="menu-title">House For Rent Forms</span>
           				 </a>
         			 </li>
         			 <li class="nav-item">
			            <a class="nav-link" th:href="@{/rentHouse}">
			              <i class="ti-home menu-icon"></i>
			              <span class="menu-title">Rent House Lists</span>
			            </a>
			          </li>
			        <li class="nav-item">
			            <a class="nav-link" th:href="@{/contract}">
			              <i class="ti-write menu-icon"></i>
			              <span class="menu-title">Manage Rentee Contract</span>
			            </a>
          			</li>
          			<li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">House Townships</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"> <a class="nav-link" th:href="@{/townshipTable}">All Lists</a></li>
			                <li class="nav-item"> <a class="nav-link" th:href="@{/addTownship}">Add Township</a></li>
			              </ul>
			            </div>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
			              <i class="ti-notepad menu-icon"></i>
			              <span class="menu-title">House Types</span>
			              <i class="menu-arrow"></i>
			            </a>
			            <div class="collapse" id="ui-basic1">
			              <ul class="nav flex-column sub-menu">
			                <li class="nav-item"><a class="nav-link" th:href="@{/typeTable}">All Lists</a></li>
			                <li class="nav-item"><a class="nav-link" th:href="@{/addType}">Add Type</a></li>
			              </ul>
			            </div>
			          </li>
        		</ul>
      		</nav>
    	
    	<!-- Table Design -->
    	<div class="main-panel">
    		<div class="content-wrapper">
          		<div class="row">
          			<div class="col-lg-12 grid-margin stretch-card">
              			<div class="card">
                			<div class="card-body">
                  				<h3 class="card-title">Rent House List</h3>
                  					<div style="padding-bottom: 20px;"> 
                  						<a th:href="@{/rentHouseContract}" class="btn btn-primary">House With Rentee</a>
                  					</div>
                  					<div class="table-responsive">
                    					<table id="rentHouseTable" class="table">
                      						<thead>
                        					<tr>
                        					<th>Id</th>
                          					<th>Address</th>
                          					<th>Township</th>
                          					<th>Type</th>
                          					<th>Owner</th>
                          					<th>Status</th>
                          					<th>Operation</th>
                        					</tr>
                      						</thead>
                      					<tbody>
                      					<div th:if="${dataNotExist}" ><h4 style="color: red;">There is no data in this table yet.</h4></div>
                      					<div th:if="${deleteSuccess}" ><h4 style="color: rgb(0, 255, 0);">Successfully delete.</h4></div>
                      					<tr data-th-each="house : ${houseList}">
											
											<td th:text="${house.houseId}"></td>
											<td th:text="${house.address}"></td>
											<td th:text="${house.houseTownship.township.townshipName}"></td>
											<td th:text="${house.houseType.type.typeName}"></td>
											<td th:text="${house.houseOwner.user.firstName}"></td>
											<td><label th:if="${house.enabled}" class="badge badge-success">Active</label>
											<label th:if="${house.enabled}==false" th:value="${house.enabled}" id="btnDisable" class="badge badge-danger">Disable</label></td>
											<td>
												<input hidden="hidden" name="id" th:value="${house.houseId}" />
												<a th:href="@{/rentHouseDetail(id=${house.houseId})}" class="badge badge-info btn-xs delete-book" type="submit" value="Details" >
												<span class="fa fa-times"></span>Details</a>
											</td>
										</tr>
                        				
                      					</tbody>
                    				</table>
                 	 			</div>
                			</div>
              			</div>
            		</div>
          		</div>
    		</div>
    		<div th:replace="common/header :: footer"></div>
    	</div>
    	</div>
	</div>
	<div th:replace="common/header :: common-js"></div>
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>	
<script th:src="@{../../js/bootbox.min.js}"></script>
<script th:src="@{/js/dataTables.jqueryui.min.js}"></script>
	<script>
		$(document).ready(function() {
			$("#rentHouseTable").DataTable({
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>	
</html>